div.guide-sticker-background-option-wrap {

  > section {
    background: $color-white;

    &.bg-gray {
      background: $color-box-background;
    }

    &.bg-white {
      background: $color-white;
    }

    &.free-size {
      border-top: 1px solid $color-box-line;

      > div.inner {
        border-top: none;
      }
    }

    > div.inner {
      @include row-contents;
      padding: 70px 0;
      border-top: 1px solid $color-box-line;

      &.small {
        width: 100% !important;
      }

      > h3 {
        font-size: 30px;
        line-height: 42px;
        text-align: center;

        > em {
          color: $color-blue;

          &.yellow {
            color: #ffa800;
          }
        }
      }

      > p {
        padding: 20px 0 0 0;
        text-align: center;
        font-size: 14px;
        line-height: 24px;

        > em {
          color: $color-blue;
        }
      }

      > ul {
        padding: 70px 0 0 0;

        > li {
          padding: 70px 0;
          border-top: 1px solid $color-box-line;

          > h4 {
            font-size: 30px;
            text-align: center;
            padding: 0 0 70px 0;

            > em {
              color: $color-blue;

              &.yellow {
                color: #ffa800;
              }
            }
          }

          > ul {

            > li {

              > div {

                &.top {

                  > img {
                    width: 100%;
                  }
                }

                &.bottom {

                  > h4 {
                    font-family: $font-bold;
                    font-size: 18px;
                    line-height: 1.1em;
                    text-align: center;
                  }

                  > p {
                    font-size: 13px;
                    line-height: 1.54em;
                    padding: 20px 0;
                    text-align: center;

                    > span {
                      display: block;
                      padding: 0 0 8px 0;

                      &:last-of-type {
                        padding: 0;
                      }

                      > em {
                        color: $color-blue;
                      }
                    }
                  }

                  > dl {

                    > dd {
                      position: relative;
                      background: none;
                      color: $color-default;
                      margin-top: 4px;
                      font-size: 13px;
                      line-height: 20px;

                      > em {
                        color: $color-blue;
                      }

                      &:before {
                        position: absolute;
                        left: 0;
                        top: 8px;
                        content: '';
                        width: 3px;
                        height: 3px;
                        background: $color-blue;
                      }

                      &:first-of-type {
                        margin-top: 16px;
                      }
                    }
                  }
                }
              }

              &:nth-child(2n) {
                margin: 0 0 70px 0;
              }

              &:nth-child(2n-1) {
                margin: 0 20px 0 0;
              }

              &:last-of-type {
                margin: 0;
              }
            }

            &.border-top {
              border-top: 1px solid $color-box-line;
            }

            &.col-2 {

              > li {
                float: left;
                width: 560px;

                &:nth-child(2n+1) {
                  margin-left: 0;
                }

                &:nth-child(-n+2) {
                  margin-top: 0;
                }
              }
            }

            &.small {

              > li {
                width: 100% !important;
                margin: 0 !important;
                padding: 0 0 20px 0;
              }
            }

            &:after {
              display: block;
              clear: both;
              content: '';
            }
          }

          &:last-of-type {
            padding: 70px 0 0 0;
          }
        }
      }
    }
  }

  &.tutorial {

    > section {
      background: $color-white;
      padding: 70px 0 0 0;

      > div.inner {
        padding: 70px 0 0 0;
      }
    }
  }
}