@mixin coupon-tab-wrap {
  height: 80px;
  margin-bottom: 80px;
  border: none;
  
  > button {
    float: left;
    width: 50%;
    height: 80px;
    border: 1px solid $color-disabled;
    border-left: none;
    border-bottom: 1px solid $color-default;
    text-align: center;
    @include box-size(border-box);

    &:first-of-type {
      border-left: 1px solid $color-disabled;
    }

    &.active {
      height: 80px;
      border: 1px solid $color-default;
      border-bottom: 1px solid $color-white;
      font-family: $font-bold;
    }

    &.prev {
      border-right: none;
    }

    > span {
      display: table;
      margin: 0 auto;

      > span {
        display: table-cell;
        vertical-align: middle;

        &.icon {
          width: 35px;
          
          &.icon-coupon {
            @extend .icon-coupon-3522;
          }

          &.icon-money {
            @extend .icon-money-3522;
          }
        }

        &.txt {
          font-size: 14px;
          padding-left: 12px;

          > em {
            color: red;
            padding-left: 3px;
          }
        }
      }
    }
  }
}