@mixin order-buyer-wrap {

  > div.bottom {

    > table {
      margin: 20px 0 0 0;

      &:nth-child(2) {
        margin: 40px 0 0 0;
      }

      > thead {

        > tr {

          > td {

            > button, > div {
              float: right;
            }

            > button {
              margin: 0 0 0 6px;
            }
          }
        }
      }

      > tbody {

        > tr {

          > td {

            > ul.phone-numbers {
              @include phone-numbers;
              width: 270px;

              span.error {
                display: none;
              }
            }

            > div.agreement-sms {
              padding: 16px 0 8px 0;

              > em {
                display: block;
                padding: 8px 0 0 0;
                color: $color-gray;
              }
            }

            > button {
              margin-left: 6px;
            }

            &.histories {
              padding: 0;

              > div {
                width: 100%;

                &.top {
                  height: 50px;

                  > span.danger{
                    color: $color-red;
                  }

                  > button {
                    color: $color-light-gray;
                    font-size: $font-medium;
                    line-height: 50px;

                    &.active {
                      color: $color-default;
                      font-family: $font-bold;
                      text-decoration: underline;
                    }
                  }

                  > span {
                    padding: 0 12px;
                    font-size: $font-medium;
                    line-height: 50px;
                  }
                }

                &.bottom {
                  display: table;
                  height: 90px;

                  > span {
                    display: table-cell;
                    line-height: 1.67em;
                    vertical-align: middle;

                    &.name {
                      width: 160px;
                      font-size: $font-large;
                      line-height: 1.53em;

                      > span:first-child {
                        font-family: $font-bold;
                      }
                    }

                    &.address {
                      width: 510px;
                    }

                    > span {
                      display: block;
                    }

                    > em {
                      color: $color-disabled;
                      padding: 0 12px;
                    }
                  }
                }
              }
            }

            &.address {

              > div {
                padding-top: 7px;

                &:first-child {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
