div.expenditure-wrap {

  > div.container {
    position: relative;
    width: 700px;
    margin: 0 auto;

    > table {
      width: 100%;
      border-bottom: 1px solid $color-box-line;
      font-size: $font-medium;
      text-align: center;
      margin: 20px 0 10px 0;

      > caption {
        display: none;
      }

      > tbody {

        > tr {

          > th {
            padding: 7px 0;
            border-top: 1px solid $color-box-line;
            background-color: #f9fafc;
            color: $color-default;
            font-size: $font-medium;
            font-family: $font-bold;
          }

          > td {
            padding-right: 0;
            height: 34px;
            line-height: 34px;
            border-top: 1px solid $color-box-line;
            color: $color-default;
            border-right: 1px solid $color-box-line;
            border-left: 1px solid $color-box-line;

            &.title {
              height: 63px;

              > h1 {
                text-align: center;
                padding: 20px 0;
                font-size: 27px;
                font-family: $font-bold;
              }
            }

            &.stamp {
              position: relative;

              > img {
                position: absolute;
                top: -31px;
                right: -24px;
                width: 90px;
                height: 90px;
              }
            }
          }

          > th, td {

            &.line {
              border-right: 1px solid $color-box-line;
              border-left: 1px solid $color-box-line;
            }

            &.text-left {
              text-align: left;
              padding-left: 20px;
            }

            &.text-right {
              text-align: right;
              padding-left: 20px;
            }

            &.line-top-none {
              border-top: none;
            }
          }
        }
      }
    }

    &.front {

      > table {

        > tbody {

          > tr {

            > td {

              > span {
                padding-right: 18px;
              }

              &.year {
                line-height: 23px;
              }

              &.h60 {
                height: 60px;
              }

              &.h80 {
                height: 80px;
              }

              &.lh23 {
                line-height: 23px;
              }

              &.lh35 {
                line-height: 35px;
              }

              &.stamp {

                > img {
                  top: -10px;
                  right: -9px;
                  width: 90px;
                  height: 90px;
                }
              }

              &.accept {
                line-height: 35px;

                > span {
                  padding: 0;
                  width: 40px;
                  display: inline-block;
                }
              }

              &.provider {
                position: relative;

                > img {
                  position: absolute;
                  top: -27px;
                  left: 51px;
                  width: 90px;
                  height: 90px;
                }
              }

              &.ensure {
                line-height: 35px;
                height: 160px;

                > span {
                  padding: 0;
                  width: 50px;
                  display: inline-block;

                  &:first-child {
                    width: 30px;
                  }
                }

                > div {
                  position: relative;

                  > span {
                    padding-right: 80px;
                  }

                  > img {
                    position: absolute;
                    top: -22px;
                    right: 36px;
                    width: 90px;
                    height: 90px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.back {

      > table {

        &.accept {

          > tbody {

            > tr {

              > td {
                line-height: 18px;
                padding-left: 40px;
                text-align: left;

                &.text-center {
                  text-align: center;
                  padding: 0;
                }

                > span {
                  &.num {
                    margin-left: -15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}