.icon-account-3636 {
  background:  54.846335697399525% 79.38529411764706% no-repeat;
  width: 38px;
  height: 38px;
}
.icon-account-3636-over {
  background:  85.1063829787234% 33.01274509803922% no-repeat;
  width: 38px;
  height: 38px;
}
.icon-app-2020 {
  background:  75.6420233463035% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-apple-2020 {
  background:  73.92996108949416% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-army-green-16 {
  background:  35.91931730023274% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-army-green-18 {
  background:  41.88034188034188% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-army-green-40 {
  background:  63.241106719367586% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-arrow-2821 {
  background:  53.09318715740016% 86.9304347826087% no-repeat;
  width: 30px;
  height: 23px;
}
.icon-arrow-3021 {
  background:  83.03501945525292% 83.56467181467181% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-arrow-58 {
  background:  98.46153846153847% 25.858778625954198% no-repeat;
  width: 7px;
  height: 10px;
}
.icon-arrow-68 {
  background:  97.15384615384616% 25.858778625954198% no-repeat;
  width: 7px;
  height: 10px;
}
.icon-arrow-btn {
  background:  67.38962044926414% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-arrow-guide {
  background:  86.60508083140877% 46.62810707456979% no-repeat;
  width: 8px;
  height: 12px;
}
.icon-arrow-left-1630 {
  background:  86.73390224980605% 32.819688109161795% no-repeat;
  width: 18px;
  height: 32px;
}
.icon-arrow-left-4040 {
  background:  61.81818181818182% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-arrow-left-off-4040 {
  background:  65.13833992094861% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-arrow-left-over-1630 {
  background:  99.53452288595811% 57.50487329434698% no-repeat;
  width: 18px;
  height: 32px;
}
.icon-arrow-left-over-4040 {
  background:  75.09881422924902% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-arrow-right-1630 {
  background:  99.53452288595811% 52.14424951267056% no-repeat;
  width: 18px;
  height: 32px;
}
.icon-arrow-right-4040 {
  background:  69.88142292490119% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-arrow-right-off-4040 {
  background:  83.16205533596838% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-arrow-right-over-1630 {
  background:  99.53452288595811% 46.78362573099415% no-repeat;
  width: 18px;
  height: 32px;
}
.icon-arrow-right-over-4040 {
  background:  82.92490118577075% 65.81988188976378% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-ash-16 {
  background:  83.70830100853375% 95.07019230769231% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-ash-18 {
  background:  23.232323232323232% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-ash-40 {
  background:  48.3794466403162% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-back-1414 {
  background:  61.19287374128582% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-beige-18 {
  background:  29.44832944832945% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-beige-40 {
  background:  54.62450592885376% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-belit-22 {
  background:  99.84650805832693% 15.180265654648956% no-repeat;
  width: 4px;
  height: 4px;
}
.icon-best-3421 {
  background:  82.45476003147128% 29.345893719806764% no-repeat;
  width: 36px;
  height: 23px;
}
.icon-black-18 {
  background:  43.43434343434343% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-black-40 {
  background:  38.57707509881423% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-black-blue-18 {
  background:  60.52836052836053% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-black-blue-40 {
  background:  45.21739130434783% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-black-turquoise-18 {
  background:  62.08236208236208% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-black-turquoise-40 {
  background:  55.17786561264822% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-blackFriday {
  background:  86.69833729216153% 15.237769080234832% no-repeat;
  width: 44px;
  height: 36px;
}
.icon-blackfriday-thumb {
  background:  100% 22.53937007874016% no-repeat;
  width: 60px;
  height: 42px;
}
.icon-blog-1818 {
  background:  72.96037296037296% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-blue-18 {
  background:  74.51437451437451% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-blue-40 {
  background:  71.77865612648222% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-blue-jeans-16 {
  background:  28.937160589604346% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-blue-jeans-18 {
  background:  85.39238539238539% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-blue-jeans-40 {
  background:  62.37154150197628% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-bullet-33 {
  background:  99.92319508448541% 14.719848053181387% no-repeat;
  width: 5px;
  height: 5px;
}
.icon-burgundy-18 {
  background:  34.88733488733489% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-burgundy-40 {
  background:  76.52173913043478% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-calendar-1616 {
  background:  20.55857253685027% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-call-6060 {
  background:  42.48995983935743% 47.7640562248996% no-repeat;
  width: 62px;
  height: 62px;
}
.icon-cart-3636 {
  background:  57.8408195429472% 79.38529411764706% no-repeat;
  width: 38px;
  height: 38px;
}
.icon-cart-over-3636 {
  background:  60.83530338849488% 79.38529411764706% no-repeat;
  width: 38px;
  height: 38px;
}
.icon-cart-search {
  background:  79.51900698215671% 95.07019230769231% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-cause-1515 {
  background:  53.72093023255814% 96.90009606147935% no-repeat;
  width: 17px;
  height: 17px;
}
.icon-caution-4034 {
  background:  73.20158102766798% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-charcoal-18 {
  background:  62.7039627039627% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-charcoal-40 {
  background:  83.16205533596838% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-check-1414 {
  background:  97.5987606506584% 70.72936660268714% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-check-1818 {
  background:  70.47397047397047% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-check-blue-1414 {
  background:  54.996127033307516% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-close-1212 {
  background:  96.59706109822119% 30.842911877394634% no-repeat;
  width: 14px;
  height: 14px;
}
.icon-close-1414 {
  background:  56.23547637490318% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-close-2222 {
  background:  18.316445830085737% 93.30077369439071% no-repeat;
  width: 24px;
  height: 24px;
}
.icon-close-3030 {
  background:  66.43137254901961% 84.37914230019493% no-repeat;
  width: 32px;
  height: 32px;
}
.icon-close-88 {
  background:  97.91827293754818% 25.858778625954198% no-repeat;
  width: 10px;
  height: 10px;
}
.icon-close-w-1414 {
  background:  58.7141750580945% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-close-w-2222 {
  background:  86.98363211223695% 74.24854932301741% no-repeat;
  width: 24px;
  height: 24px;
}
.icon-close-w-s-1414 {
  background:  63.67157242447715% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-color-check-2020 {
  background:  87.00389105058366% 40.99710424710425% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-coupon-3522 {
  background:  79.60629921259843% 29.374274661508704% no-repeat;
  width: 37px;
  height: 24px;
}
.icon-customer-w-2428 {
  background:  50.585480093676814% 90.53793774319067% no-repeat;
  width: 26px;
  height: 30px;
}
.icon-cutting-01 {
  background:  77.62237762237763% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-cutting-02 {
  background:  32.556332556332556% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-daisy-16 {
  background:  33.12645461598138% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-daisy-18 {
  background:  69.85236985236985% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-daisy-40 {
  background:  44.66403162055336% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-darkgray-18 {
  background:  68.2983682983683% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-darkgray-40 {
  background:  51.30434782608695% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-deepgreen-18 {
  background:  66.74436674436674% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-deepgreen-18_3 {
  background:  34.52288595810706% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-deepgreen-40 {
  background:  61.26482213438735% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-deepgreen-black-18 {
  background:  58.97435897435897% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-deepgreen-black-40 {
  background:  67.90513833992095% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-deepnavy-18 {
  background:  54.312354312354316% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-deepnavy-40 {
  background:  74.54545454545455% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-deepred-18 {
  background:  52.75835275835276% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-deepred-40 {
  background:  81.18577075098814% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-del-1515 {
  background:  49.76744186046512% 96.90009606147935% no-repeat;
  width: 17px;
  height: 17px;
}
.icon-del-1616 {
  background:  99.45694336695112% 39.23076923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-del-2222 {
  background:  85.65861262665628% 90.01257253384912% no-repeat;
  width: 24px;
  height: 24px;
}
.icon-delete-2020 {
  background:  85.99221789883268% 83.56467181467181% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-denim-16 {
  background:  40.108611326609775% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-denim-18 {
  background:  37.21833721833722% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-denim-40 {
  background:  51.85770750988142% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-designby-5715 {
  background:  98.95833333333333% 29.298751200768493% no-repeat;
  width: 59px;
  height: 17px;
}
.icon-down-btn-5050 {
  background:  98.08764940239044% 53.18091451292246% no-repeat;
  width: 52px;
  height: 52px;
}
.icon-down-btn-5050-over {
  background:  47.091633466135455% 47.289264413518886% no-repeat;
  width: 52px;
  height: 52px;
}
.icon-down-excel-714 {
  background:  99.69183359013867% 29.27063339731286% no-repeat;
  width: 9px;
  height: 16px;
}
.icon-down-il-714 {
  background:  100% 61.90019193857965% no-repeat;
  width: 9px;
  height: 16px;
}
.icon-down-in-714 {
  background:  99.84591679506934% 97.79270633397313% no-repeat;
  width: 9px;
  height: 16px;
}
.icon-down-indd-714 {
  background:  99.84591679506934% 99.3282149712092% no-repeat;
  width: 9px;
  height: 16px;
}
.icon-down-jpg-714 {
  background:  87.05701078582435% 24.734165067178502% no-repeat;
  width: 9px;
  height: 16px;
}
.icon-editor-arrow-149 {
  background:  96.59178931061193% 25.88347659980898% no-repeat;
  width: 16px;
  height: 11px;
}
.icon-effect-thumb-9288 {
  background:  93.98186314921682% 34.710743801652896% no-repeat;
  width: 94px;
  height: 90px;
}
.icon-error-3131 {
  background:  61.38147566718995% 84.46146341463415% no-repeat;
  width: 33px;
  height: 33px;
}
.icon-event-12229 {
  background:  96.3651732882502% 19.279454722492698% no-repeat;
  width: 124px;
  height: 31px;
}
.icon-event-1414 {
  background:  68.6289697908598% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-event-3020 {
  background:  78.98039215686275% 83.56467181467181% no-repeat;
  width: 32px;
  height: 22px;
}
.icon-expand-1616 {
  background:  47.09076803723817% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-facebook-1616 {
  background:  85.10473235065943% 95.07019230769231% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-facebook-1818 {
  background:  45.765345765345764% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-facebook-2020 {
  background:  72.21789883268482% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-facebook-3434 {
  background:  69.70889063729346% 79.22994129158512% no-repeat;
  width: 36px;
  height: 36px;
}
.icon-facebook-918 {
  background:  99.45987654320987% 43.35260115606936% no-repeat;
  width: 11px;
  height: 20px;
}
.icon-faq-a {
  background:  99.92254066615027% 41.19922630560929% no-repeat;
  width: 16px;
  height: 24px;
}
.icon-faq-q {
  background:  84.35321456235476% 83.56467181467181% no-repeat;
  width: 16px;
  height: 22px;
}
.icon-file-1818 {
  background:  27.894327894327894% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-file-1818-over {
  background:  24.786324786324787% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-filter-close-1414 {
  background:  62.432223082881485% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-filter-open-1414 {
  background:  95.12006196746708% 70.72936660268714% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-folder-3636 {
  background:  63.829787234042556% 79.38529411764706% no-repeat;
  width: 38px;
  height: 38px;
}
.icon-folder-3636-over {
  background:  66.82427107959023% 79.38529411764706% no-repeat;
  width: 38px;
  height: 38px;
}
.icon-forest-16 {
  background:  23.351435221101628% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-forest-18 {
  background:  81.8958818958819% 86.67919075144509% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-forest-40 {
  background:  66.56126482213439% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-gift-3522 {
  background:  86.06299212598425% 24.925531914893618% no-repeat;
  width: 37px;
  height: 24px;
}
.icon-gold-18 {
  background:  75.13597513597513% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-gold-40 {
  background:  76.52173913043478% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-good-b-2424 {
  background:  63.46604215456674% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-good-b-2424-over {
  background:  65.49570647931304% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-good-y-1111 {
  background:  98.68624420401855% 30.8133971291866% no-repeat;
  width: 13px;
  height: 13px;
}
.icon-good-y-2424 {
  background:  81.73302107728337% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-gray-18 {
  background:  31.77933177933178% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-gray-40 {
  background:  82.92490118577075% 69.95374015748031% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-gray-black-18 {
  background:  24.164724164724166% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-gray-black-40 {
  background:  18.49802371541502% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-gray-hotpink-18 {
  background:  21.056721056721056% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-gray-hotpink-40 {
  background:  25.138339920948617% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-gray-navy-18 {
  background:  17.94871794871795% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-gray-navy-40 {
  background:  31.778656126482215% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-green-18 {
  background:  16.394716394716394% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-green-40 {
  background:  38.41897233201581% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-guide-w-2020 {
  background:  55.09727626459144% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-guide-w-2020-on {
  background:  56.809338521400775% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-heatherpurple-18 {
  background:  79.17637917637917% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-heatherpurple-40 {
  background:  51.69960474308301% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-hot-3020 {
  background:  73.96078431372548% 83.56467181467181% no-repeat;
  width: 32px;
  height: 22px;
}
.icon-hotpink-18 {
  background:  51.204351204351205% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-hotpink-40 {
  background:  61.6600790513834% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-img-appstore {
  background:  59.34323690383112% 90.3621359223301% no-repeat;
  width: 28px;
  height: 28px;
}
.icon-img-googleplay {
  background:  55.04300234558249% 90.3621359223301% no-repeat;
  width: 28px;
  height: 28px;
}
.icon-img-w-number-01 {
  background:  82.55908720456398% 23.701894317048854% no-repeat;
  width: 80px;
  height: 55px;
}
.icon-img-w-number-02 {
  background:  93.75% 58.8235294117647% no-repeat;
  width: 91px;
  height: 55px;
}
.icon-img-w-number-03 {
  background:  93.75% 53.33998005982054% no-repeat;
  width: 91px;
  height: 55px;
}
.icon-img-w-number-04 {
  background:  93.75% 47.85643070787637% no-repeat;
  width: 91px;
  height: 55px;
}
.icon-img-w-number-05 {
  background:  93.75% 42.430278884462155% no-repeat;
  width: 91px;
  height: 54px;
}
.icon-indigoblue-18 {
  background:  85.003885003885% 86.67919075144509% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-indigoblue-40 {
  background:  21.818181818181817% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-info-1618 {
  background:  61.21024049650892% 95.2533718689788% no-repeat;
  width: 18px;
  height: 20px;
}
.icon-info-1818 {
  background:  33.333333333333336% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-instagram-1818 {
  background:  71.4063714063714% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-ivory-18 {
  background:  20.124320124320125% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-ivory-40 {
  background:  38.41897233201581% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-kakao-3434 {
  background:  81.03855232100707% 79.22994129158512% no-repeat;
  width: 36px;
  height: 36px;
}
.icon-kakao-4646 {
  background:  28.19698173153296% 42.052475247524754% no-repeat;
  width: 48px;
  height: 48px;
}
.icon-kv-title {
  background:  0 99.9688221709007% no-repeat;
  width: 211px;
  height: 192px;
}
.icon-layer-1414 {
  background:  57.47482571649884% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-layer-g-1414 {
  background:  69.86831913245545% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-leftbtn-4040 {
  background:  51.69960474308301% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-leftbtn-4040-over {
  background:  41.73913043478261% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-light-gray-16 {
  background:  27.540729247478666% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-light-gray-18 {
  background:  47.31934731934732% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-light-gray-40 {
  background:  35.098814229249015% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-light-pink-16 {
  background:  82.31186966640807% 95.07019230769231% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-light-pink-18 {
  background:  65.19036519036518% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-light-pink-40 {
  background:  31.778656126482215% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-light-purple-16 {
  background:  16.369278510473237% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-light-purple-18 {
  background:  83.83838383838383% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-light-purple-40 {
  background:  28.458498023715414% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-light-yellow-16 {
  background:  19.162141194724594% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-light-yellow-18 {
  background:  50.427350427350426% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-light-yellow-40 {
  background:  25.138339920948617% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-lightblue-18 {
  background:  99.3006993006993% 62.138728323699425% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-lightblue-40 {
  background:  18.49802371541502% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-lightblue-royalblue-18 {
  background:  86.55788655788656% 86.67919075144509% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-lightblue-royalblue-40 {
  background:  68.300395256917% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-lightpink-18 {
  background:  26.34032634032634% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-lightpink-40 {
  background:  64.9802371541502% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-lightpink-hotpink-18 {
  background:  40.32634032634033% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-lightpink-hotpink-40 {
  background:  58.3399209486166% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-lime-18 {
  background:  55.86635586635587% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-lime-40 {
  background:  55.019762845849804% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-link-3434 {
  background:  72.54130605822188% 79.22994129158512% no-repeat;
  width: 36px;
  height: 36px;
}
.icon-logo {
  background:  95% 22.85429141716567% no-repeat;
  width: 107px;
  height: 56px;
}
.icon-logo-13341 {
  background:  97.26962457337883% 15.270935960591133% no-repeat;
  width: 135px;
  height: 43px;
}
.icon-logo-9349 {
  background:  94.05940594059406% 28.30188679245283% no-repeat;
  width: 95px;
  height: 51px;
}
.icon-logo-ohprintme {
  background:  99.91830065359477% 72.54335260115607% no-repeat;
  width: 83px;
  height: 20px;
}
.icon-logo-snaps {
  background:  97.9315831344471% 49.32562620423892% no-repeat;
  width: 50px;
  height: 20px;
}

.icon-main-title-165153 {
  background:  100% 0 no-repeat;
  width: 167px;
  height: 155px;
}
.icon-main-title-apparel-23295 {
  background:  48.835041938490214% 59.49323621227887% no-repeat;
  width: 234px;
  height: 97px;
}
.icon-main-title-banner-22638 {
  background:  78.96200185356813% 33.077603143418465% no-repeat;
  width: 228px;
  height: 40px;
}
.icon-main-title-birthdayparty-25597 {
  background:  51.04761904761905% 69.7320125130344% no-repeat;
  width: 257px;
  height: 99px;
}
.icon-main-title-calendar-23295 {
  background:  0 59.49323621227887% no-repeat;
  width: 282px;
  height: 97px;
}
.icon-main-title-event-35392 {
  background:  0 39.66113989637306% no-repeat;
  width: 355px;
  height: 93px;
}
.icon-main-title-familyMonth-2560500 {
  background:  67.93893129770993% 17.11318681318681% no-repeat;
  width: 390px;
  height: 148px;
}
.icon-main-title-fw-apparel-23295 {
  background:  0 79.971875% no-repeat;
  width: 234px;
  height: 98px;
}
.icon-main-title-md {
  background:  57.79220779220779% 33.077603143418465% no-repeat;
  width: 229px;
  height: 40px;
}
.icon-main-title-merrychristmas-25797 {
  background:  26.431297709923665% 69.7320125130344% no-repeat;
  width: 259px;
  height: 99px;
}
.icon-main-title-newyear-2560500 {
  background:  0 49.45218295218295% no-repeat;
  width: 293px;
  height: 96px;
}
.icon-main-title-offset-printing-business-card {
  background:  0 69.7320125130344% no-repeat;
  width: 277px;
  height: 99px;
}
.icon-main-title-payback-24095 {
  background:  26.47887323943662% 59.49323621227887% no-repeat;
  width: 242px;
  height: 97px;
}
.icon-main-title-sign-19597 {
  background:  37.69161406672678% 90.27424400417101% no-repeat;
  width: 198px;
  height: 99px;
}
.icon-main-title-sticker-20597 {
  background:  19.181818181818183% 90.27424400417101% no-repeat;
  width: 207px;
  height: 99px;
}
.icon-main-title-sticker-25497 {
  background:  75.45195052331113% 69.7320125130344% no-repeat;
  width: 256px;
  height: 99px;
}
.icon-maroon-18 {
  background:  31.002331002331% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-maroon-40 {
  background:  66.56126482213439% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-melange-gray-16 {
  background:  42.90147401086113% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-melange-gray-18 {
  background:  38.77233877233877% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-melange-gray-40 {
  background:  63.241106719367586% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-mint-16 {
  background:  45.69433669511249% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-mint-18 {
  background:  44.98834498834499% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-mint-40 {
  background:  59.92094861660079% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-mint-navy-18 {
  background:  46.54234654234654% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-mint-navy-40 {
  background:  85.61264822134387% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-minus-2432 {
  background:  86.72911787665886% 37.3759765625% no-repeat;
  width: 26px;
  height: 34px;
}
.icon-minus-2432-off {
  background:  48.08743169398907% 84.5439453125% no-repeat;
  width: 26px;
  height: 34px;
}
.icon-minus-2432-over {
  background:  50.11709601873536% 84.5439453125% no-repeat;
  width: 26px;
  height: 34px;
}
.icon-minus-2828 {
  background:  63.92156862745098% 84.37914230019493% no-repeat;
  width: 32px;
  height: 32px;
}
.icon-mode-box-2424 {
  background:  67.52537080405934% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-mode-box-2424-on {
  background:  73.6143637782982% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-mode-box-2424-over {
  background:  61.43637782982045% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-mode-list-2424 {
  background:  79.70335675253708% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-mode-list-2424-on {
  background:  69.55503512880563% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-mode-list-2424-over {
  background:  71.5846994535519% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-modify-1618 {
  background:  27.230411171450736% 95.2533718689788% no-repeat;
  width: 18px;
  height: 20px;
}
.icon-moku-gray-16 {
  background:  44.29790535298681% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-moku-gray-18 {
  background:  30.225330225330225% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-moku-gray-40 {
  background:  82.29249011857708% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-money-3522 {
  background:  99.5275590551181% 19.148936170212767% no-repeat;
  width: 37px;
  height: 24px;
}
.icon-natural-18 {
  background:  44.21134421134421% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-natural-40 {
  background:  78.97233201581028% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-naver-1616 {
  background:  38.712179984484095% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-naver-2020 {
  background:  65.36964980544747% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-navy-18 {
  background:  51.981351981351985% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-navy-40 {
  background:  75.65217391304348% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-navy-gray-18 {
  background:  59.75135975135975% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-navy-gray-40 {
  background:  72.33201581027669% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-navy-hotpink-18 {
  background:  73.58197358197359% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-navy-hotpink-40 {
  background:  69.01185770750988% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-navy-yellow-18 {
  background:  76.68997668997669% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-navy-yellow-40 {
  background:  65.69169960474308% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-neonorange-18 {
  background:  99.53379953379954% 59.922928709055874% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-neonorange-40 {
  background:  59.051383399209485% 46.82381889763779% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-neonpink-18 {
  background:  86.86868686868686% 43.03757225433526% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-neonpink-40 {
  background:  81.73913043478261% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-neonyellow-18 {
  background:  78.78787878787878% 86.67919075144509% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-neonyellow-40 {
  background:  78.41897233201581% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-new-1414 {
  background:  64.91092176607282% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-new-3020 {
  background:  76.47058823529412% 83.56467181467181% no-repeat;
  width: 32px;
  height: 22px;
}
.icon-new-3030 {
  background:  48.31372549019608% 90.71442495126706% no-repeat;
  width: 32px;
  height: 32px;
}
.icon-new-4141 {
  background:  86.62974683544304% 18.889655172413793% no-repeat;
  width: 43px;
  height: 43px;
}
.icon-new-7070 {
  background:  99.43319838056681% 67.44421906693712% no-repeat;
  width: 72px;
  height: 72px;
}
.icon-next-1616 {
  background:  78.12257564003103% 95.07019230769231% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-next-month-1010 {
  background:  86.87258687258688% 47.77533460803059% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-next-month-1010-over {
  background:  25.405405405405407% 53.32026768642447% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-next-year-1010 {
  background:  24.47876447876448% 53.32026768642447% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-next-year-1010-over {
  background:  86.87258687258688% 45.48087954110898% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-noti-1515 {
  background:  48.44961240310077% 96.90009606147935% no-repeat;
  width: 17px;
  height: 17px;
}
.icon-notice-w-2020 {
  background:  68.79377431906615% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-notice-w-2020-on {
  background:  86.84824902723736% 29.31756756756757% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-num-01-5030 {
  background:  94.9800796812749% 99.317738791423% no-repeat;
  width: 52px;
  height: 32px;
}
.icon-num-02-5030 {
  background:  90.83665338645419% 99.317738791423% no-repeat;
  width: 52px;
  height: 32px;
}
.icon-num-03-5030 {
  background:  98.08764940239044% 46.78362573099415% no-repeat;
  width: 52px;
  height: 32px;
}
.icon-num-04-5030 {
  background:  76.41434262948208% 29.603313840155945% no-repeat;
  width: 52px;
  height: 32px;
}
.icon-num-05-5030 {
  background:  72.27091633466135% 29.603313840155945% no-repeat;
  width: 52px;
  height: 32px;
}
.icon-num-06-5030 {
  background:  99.12350597609561% 99.317738791423% no-repeat;
  width: 52px;
  height: 32px;
}
.icon-num-07-5030 {
  background:  98.08764940239044% 57.50487329434698% no-repeat;
  width: 52px;
  height: 32px;
}
.icon-num-08-5030 {
  background:  83.73919874312648% 78.9980487804878% no-repeat;
  width: 34px;
  height: 33px;
}
.icon-num-09-5030 {
  background:  86.34222919937206% 78.92105263157895% no-repeat;
  width: 33px;
  height: 32px;
}
.icon-num-10-5030 {
  background:  48.31372549019608% 87.60759493670886% no-repeat;
  width: 32px;
  height: 31px;
}
.icon-oatmeal-18 {
  background:  48.096348096348095% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-oatmeal-40 {
  background:  84.50592885375494% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-oh-2620 {
  background:  81.23534010946051% 83.56467181467181% no-repeat;
  width: 28px;
  height: 22px;
}
.icon-ohprintmelive-28231 {
  background:  60.899315738025415% 29.63219512195122% no-repeat;
  width: 284px;
  height: 33px;
}
.icon-oif-title {
  background:  0 18.74007220216606% no-repeat;
  width: 623px;
  height: 227px;
}
.icon-olive-16 {
  background:  37.315748642358415% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-olive-18 {
  background:  57.42035742035742% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-olive-40 {
  background:  64.58498023715416% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-open-1212 {
  background:  97.6798143851508% 30.842911877394634% no-repeat;
  width: 14px;
  height: 14px;
}
.icon-open-1212-on {
  background:  95.51430781129157% 30.842911877394634% no-repeat;
  width: 14px;
  height: 14px;
}
.icon-orange-18 {
  background:  63.63636363636363% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-orange-40 {
  background:  57.944664031620555% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-pay-kakao-pay {
  background:  100% 27.45664739884393% no-repeat;
  width: 72px;
  height: 20px;
}
.icon-pay-naver-pay {
  background:  86.74603174603175% 22.902697495183045% no-repeat;
  width: 47px;
  height: 20px;
}
.icon-pay-payco {
  background:  97.69291964996022% 62.138728323699425% no-repeat;
  width: 50px;
  height: 20px;
}
.icon-pay-ssp-pay {
  background:  93.51927809680066% 62.138728323699425% no-repeat;
  width: 88px;
  height: 20px;
}
.icon-pay-toss {
  background:  98.55884707766214% 43.35260115606936% no-repeat;
  width: 58px;
  height: 20px;
}
.icon-peach-16 {
  background:  31.730023273855704% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-peach-18 {
  background:  76.06837606837607% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-peach-40 {
  background:  84.90118577075098% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-pepper-16 {
  background:  30.333591931730023% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-pepper-18 {
  background:  80.73038073038073% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-pepper-40 {
  background:  81.58102766798419% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-photo-2018 {
  background:  99.6887159533074% 49.32562620423892% no-repeat;
  width: 22px;
  height: 20px;
}
.icon-pigment-blue-16 {
  background:  98.06051202482544% 39.23076923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-pigment-blue-18 {
  background:  86.94638694638695% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-pigment-blue-40 {
  background:  78.26086956521739% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-pigment-gray-16 {
  background:  26.144297905352985% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-pigment-gray-18 {
  background:  19.502719502719504% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-pigment-gray-40 {
  background:  74.9407114624506% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-pink-18 {
  background:  22.61072261072261% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-pink-40 {
  background:  71.6205533596838% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-pink-hotpink-18 {
  background:  25.718725718725718% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-pink-hotpink-40 {
  background:  48.3794466403162% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-plus-2432 {
  background:  52.14676034348165% 84.5439453125% no-repeat;
  width: 26px;
  height: 34px;
}
.icon-plus-2432-off {
  background:  59.01639344262295% 84.5439453125% no-repeat;
  width: 26px;
  height: 34px;
}
.icon-plus-2432-over {
  background:  99.53161592505855% 15.13671875% no-repeat;
  width: 26px;
  height: 34px;
}
.icon-plus-2828 {
  background:  71.45098039215686% 84.37914230019493% no-repeat;
  width: 32px;
  height: 32px;
}
.icon-prev-1616 {
  background:  24.74786656322731% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-prev-month-1010 {
  background:  99.61389961389962% 30.78393881453155% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-prev-month-1010-over {
  background:  26.332046332046332% 53.32026768642447% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-prev-year-1010 {
  background:  23.55212355212355% 53.32026768642447% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-prev-year-1010-over {
  background:  22.625482625482626% 53.32026768642447% no-repeat;
  width: 12px;
  height: 12px;
}
.icon-purple-18 {
  background:  42.65734265734266% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-purple-40 {
  background:  45.059288537549406% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-question-1414 {
  background:  51.08527131782946% 96.90009606147935% no-repeat;
  width: 17px;
  height: 17px;
}
.icon-question-1414-on {
  background:  52.4031007751938% 96.90009606147935% no-repeat;
  width: 17px;
  height: 17px;
}
.icon-red-18 {
  background:  48.873348873348874% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-red-40 {
  background:  41.73913043478261% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-reduce-1414 {
  background:  66.15027110766847% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-reset-1414 {
  background:  59.95352439969016% 96.80710172744722% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-reset-1414-off {
  background:  98.83810999225406% 70.72936660268714% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-right-1818 {
  background:  56.64335664335665% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-right-2424 {
  background:  77.67369242779078% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-rightbtn-4040 {
  background:  35.098814229249015% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-rightbtn-4040-over {
  background:  28.458498023715414% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-ripple-1215 {
  background:  86.98683191324555% 89.49326923076923% no-repeat;
  width: 16px;
  height: 18px;
}
.icon-royalblue-18 {
  background:  64.25796425796426% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-royalblue-40 {
  background:  21.818181818181817% 75.56397637795276% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-royalblue-mint-18 {
  background:  67.36596736596736% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-royalblue-mint-40 {
  background:  86.24505928853755% 69.95374015748031% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-sale-1414 {
  background:  96.35941130906274% 70.72936660268714% no-repeat;
  width: 16px;
  height: 16px;
}
.icon-sale-1818 {
  background:  72.02797202797203% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-sale-2816 {
  background:  96.6327329678935% 39.23076923076923% no-repeat;
  width: 30px;
  height: 18px;
}
.icon-sale-3020 {
  background:  85.01960784313725% 29.31756756756757% no-repeat;
  width: 32px;
  height: 22px;
}
.icon-sale-3030 {
  background:  68.94117647058823% 84.37914230019493% no-repeat;
  width: 32px;
  height: 32px;
}
.icon-sale-4141 {
  background:  31.882911392405063% 41.84532019704434% no-repeat;
  width: 43px;
  height: 43px;
}
.icon-sale-7070 {
  background:  99.91902834008097% 34.07707910750507% no-repeat;
  width: 72px;
  height: 72px;
}
.icon-sand-18 {
  background:  68.91996891996892% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-sand-40 {
  background:  86.48221343873517% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-sandstone-16 {
  background:  86.57874321179209% 76.12788461538462% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-sandstone-18 {
  background:  65.8119658119658% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-sandstone-40 {
  background:  79.84189723320158% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-sapphire-18 {
  background:  55.08935508935509% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-sapphire-40 {
  background:  69.88142292490119% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-save-7070 {
  background:  37.00404858299595% 48.248478701825555% no-repeat;
  width: 72px;
  height: 72px;
}
.icon-seafoam-18 {
  background:  53.535353535353536% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-seafoam-40 {
  background:  59.92094861660079% 60.406496062992126% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-search-1616 {
  background:  80.91543832428239% 95.07019230769231% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-search-2222 {
  background:  16.445830085736556% 93.30077369439071% no-repeat;
  width: 24px;
  height: 24px;
}
.icon-search-w-2020 {
  background:  63.65758754863813% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-search-w-2020-on {
  background:  61.945525291828794% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-select-4040 {
  background:  86.48221343873517% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-send-g-1818 {
  background:  41.1033411033411% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-send-r-1818 {
  background:  39.54933954933955% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-silver-gray-16 {
  background:  17.765709852598913% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-silver-gray-18 {
  background:  37.995337995338% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-silver-gray-40 {
  background:  79.84189723320158% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-skyblue-16 {
  background:  21.95500387897595% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-skyblue-18 {
  background:  36.44133644133644% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-skyblue-40 {
  background:  73.20158102766798% 56.27263779527559% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-star-2424 {
  background:  57.1875% 90.3621359223301% no-repeat;
  width: 27px;
  height: 28px;
}
.icon-star-2424-on {
  background:  75.64402810304449% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-step-01 {
  background:  0 0 no-repeat;
  width: 1140px;
  height: 51.91px;
}
.icon-step-02 {
  background:  0 5.159578168951088% no-repeat;
  width: 1140px;
  height: 51.91px;
}
.icon-step-03 {
  background:  0 10.319156337902175% no-repeat;
  width: 1140px;
  height: 51.91px;
}
.icon-tag-special-2020 {
  background:  50.743931088488644% 87.52237354085604% no-repeat;
  width: 30px;
  height: 30px;
}
.icon-tag-special-5722 {
  background:  98.63782051282051% 41.19922630560929% no-repeat;
  width: 59px;
  height: 24px;
}
.icon-talk-connect-8686 {
  background:  93.51927809680066% 68.55670103092784% no-repeat;
  width: 88px;
  height: 88px;
}
.icon-talk-w-2020 {
  background:  60.233463035019454% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-talk-w-2020-on {
  background:  58.521400778210115% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-text-btn-146 {
  background:  99.46112394149345% 70.72936660268714% no-repeat;
  width: 8px;
  height: 16px;
}
.icon-title-main-event {
  background:  31.167690956979808% 37.67027559055118% no-repeat;
  width: 168px;
  height: 42px;
}
.icon-top-btn-4040 {
  background:  41.89723320158103% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-total-2828 {
  background:  52.77995301487862% 90.53793774319067% no-repeat;
  width: 30px;
  height: 30px;
}
.icon-turquoise-18 {
  background:  49.65034965034965% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-turquoise-40 {
  background:  35.25691699604743% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-twitter-3434 {
  background:  75.37372147915028% 79.22994129158512% no-repeat;
  width: 36px;
  height: 36px;
}
.icon-ultra-marine-16 {
  background:  41.505042668735456% 96.99326923076923% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-ultra-marine-18 {
  background:  35.66433566433567% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-ultra-marine-40 {
  background:  77.86561264822134% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-up-btn-5050 {
  background:  51.235059760956176% 47.289264413518886% no-repeat;
  width: 52px;
  height: 52px;
}
.icon-up-btn-5050-over {
  background:  55.37848605577689% 47.289264413518886% no-repeat;
  width: 52px;
  height: 52px;
}
.icon-video-play-3434 {
  background:  78.20613690007868% 79.22994129158512% no-repeat;
  width: 36px;
  height: 36px;
}
.icon-view-3d-input {
  background:  54.516889238020426% 84.5439453125% no-repeat;
  width: 34px;
  height: 34px;
}
.icon-view-3d-out {
  background:  56.919468334636434% 84.5439453125% no-repeat;
  width: 28px;
  height: 34px;
}
.icon-wash-01 {
  background:  93.06122448979592% 87.60245901639344% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-02 {
  background:  99.75510204081633% 87.60245901639344% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-03 {
  background:  93.06122448979592% 96.00409836065573% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-04 {
  background:  99.75510204081633% 96.00409836065573% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-05 {
  background:  93.06122448979592% 79.20081967213115% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-06 {
  background:  82.6938775510204% 15.955942622950818% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-07 {
  background:  23.918367346938776% 48.74282786885246% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-08 {
  background:  30.612244897959183% 48.74282786885246% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-wash-09 {
  background:  99.75510204081633% 79.20081967213115% no-repeat;
  width: 82px;
  height: 82px;
}
.icon-white-18 {
  background:  80.34188034188034% 86.67919075144509% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-40 {
  background:  47.984189723320156% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-white-black-18 {
  background:  77.23387723387724% 86.67919075144509% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-black-40 {
  background:  41.34387351778656% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-white-blue-18 {
  background:  99.68919968919968% 54.6242774566474% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-blue-40 {
  background:  45.059288537549406% 79.69783464566929% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-white-burgundy-18 {
  background:  58.1973581973582% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-burgundy-40 {
  background:  86.24505928853755% 65.81988188976378% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-white-green-18 {
  background:  28.67132867132867% 95.2533718689788% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-green-40 {
  background:  85.0592885375494% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-white-navy-18 {
  background:  34.11033411033411% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-navy-40 {
  background:  68.45849802371542% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-white-red-18 {
  background:  21.678321678321677% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-red-40 {
  background:  58.49802371541502% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-white-royalblue-18 {
  background:  83.44988344988344% 86.67919075144509% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-white-royalblue-40 {
  background:  48.537549407114625% 41.80413385826772% no-repeat;
  width: 42px;
  height: 42px;
}
.icon-write-w-2020 {
  background:  67.08171206225681% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-write-w-2020-on {
  background:  70.50583657587549% 86.8465250965251% no-repeat;
  width: 22px;
  height: 22px;
}
.icon-wrong-1818 {
  background:  86.5011636927851% 95.07019230769231% no-repeat;
  width: 18px;
  height: 18px;
}
.icon-wrong-2424 {
  background:  83.76268540202966% 90.18701550387597% no-repeat;
  width: 26px;
  height: 26px;
}
.icon-yellow-18 {
  background:  82.28438228438229% 92.9412331406551% no-repeat;
  width: 20px;
  height: 20px;
}
.icon-yellow-40 {
  background:  71.22529644268775% 37.67027559055118% no-repeat;
  width: 42px;
  height: 42px;
}