/*font-size*/
$font-small: 11px;
$font-medium: 12px;
$font-large: 13px;
$font-big: 14px;
/*$font-bold: 'NotoSansKR500';
$font-normal: 'NotoSansKR400';*/
$font-bold: 'NotoSansKR500';
$font-normal: 'NotoSansKR400';

$font-bold: 'YoonGothicPro760';
$font-normal: 'YoonGothicPro740';

/* color */
$color-layer-shadow: rgba(0, 0, 0, 0.5);
$color-default: #191919;
$color-gray: #999;
$color-light-gray: #666;
$color-box-line: #eee;
$color-box-background: #f9fafc;
$color-thumbnail-background: #f2f4f7;
$color-white: #fff;
$color-calendar-tripod: #6a6a6b;
$color-grid-line: #ddd;
$color-keyvisual-button:#8c9399;
$color-apparel-keyvisual:#45619a;
$color-red: #f02222;
$color-origin: #e8625a;
$color-gold: #99844b;
$color-error: #f02222;
$color-disabled: #eee;
$color-blue: #2c83e9;
$color-light-blue: #469cff;

$color-filter-red: #fc0f1c;
$color-filter-orange: #ffa702;
$color-filter-yellow: #f9d230;
$color-filter-green: #1fc039;
$color-filter-blue: #1976ea;
$color-filter-navy: #192a8a;
$color-filter-purple: #8419b7;
$color-filter-white: #fff;
$color-filter-black: #000;
$color-filter-pink: #fc3db3;
$color-filter-gray: #8e8e8e;
$color-filter-brown: #9c5719;

$color-button-white-border: #ccc;
$color-button-black: #303030;
$color-button-gray: #c7cdd3;
$color-button-origin: #e8726d;
$color-button-disabled-background: #f9fafc;

/* animation */
$animation-sec: 0.45s;
$animation-easing: ease-out;
