div.loading-animation-wrap {

  > img {
    display: block;
  }

  &.big {

    > img {
      width: 100px;
      height: 100px;
    }
  }

  &.small {
    margin: 30px 0;

    > img {
      margin: 0 auto;
      width: 40px;
      height: 40px;
    }
  }
}