div.scroll-bar-wrap {
  width: 100%;
  height: 16px;
  cursor: pointer;

  > div.tab {
    position: relative;
    display: inline-block;
    background-color: rgba($color-default, 0.3);
    top: 0;
    left: 0;
    width: 80px;
    height: 6px;
    margin: 5px 10px;
    cursor: pointer;
    pointer-events: none;

    @include border-radius (10px);
  }
}