@mixin cs-floating-content-notice {

  > div.list {
    padding: 9px 16px 0 16px;
    line-height: 1.67em;
    width: 408px;
    min-height: 400px;
    background: $color-box-background;

    > div.sub-title {
      display: table;
      width: 100%;
      height: 47px;
      padding-top: 3px;
      border-bottom: 1px solid $color-disabled;

      > span {
        display: table-cell;
        vertical-align: middle;

        > em {
          color: #e5362c;
        }
      }
    }

    > div.items {

      > div {

        &.item {
          @include cs-notice-item;
        }

        &.nothing {
          display: table;
          width: 100%;
          text-align: center;

          > span {
            display: table-cell;
            height: 305px;
            max-height: 305px;
            vertical-align: middle;

            > span {
              display: block;

              &:first-child {
                line-height: 1.71em;
                font-family: $font-bold;
                font-size: $font-big;
                word-break: break-all;

                > em {
                  color: $color-error;
                }
              }

              &:last-child {
                margin-top: 6px;
                color: $color-gray;
                font-size: $font-medium;
                line-height: 1.5em;
              }
            }
          }
        }
      }
    }

    > div.more {
      height: 50px;
      color: $color-default;
      line-height: 50px;
      text-align: center;

      > button {
        font-family: $font-bold;
        font-size: $font-medium;
      }
    }
  }

  > div.lock {
    display: table;
    width: 450px;
    height: 500px;
    min-height: 226px !important;
    max-height: 500px !important;
    text-align: center;

    > span {
      display: table-cell;
      vertical-align: middle;

      > span {
        display: block;
        line-height: 1.57em;
        font-size: $font-big;
      }

      > button {
        margin-top: 30px;
      }
    }
  }
}