div.design-qna-layer-wrap {
  width: 500px;

  > div.container {

    > form {

      > div.middle {

        > div.inner {

          > div.top {
            margin-bottom: 20px;

            > h3 {
              font-size: 20px !important;
              font-family: $font-normal !important;
              padding-bottom: 10px;
              padding-top: 0;
            }

            > span {
              display: block;
              line-height: 1.67;
              color: $color-light-gray;
            }
          }

          > table {
            border-top: 1px solid $color-light-gray;

            > tbody {

              > tr {

                > th {
                  background-color: $color-box-background;
                  font-family: $font-bold;
                  text-align: left;
                  padding: 15px 0 15px 16px;
                  border-bottom: 1px solid $color-disabled;
                }

                > td {
                  text-align: left;
                  padding: 8px 0 8px 16px;
                  border-bottom: 1px solid $color-disabled;
                  line-height: 20px;

                  > div {
                    float: left;

                    &.input.box > div > input {

                      &.small {
                        width: 62px !important;
                      }

                      &.large {
                        width: 266px !important;
                      }
                    }
                  }

                  > span {
                    float: left;
                    color: #ccc;
                    padding: 0 6px;
                    line-height: 34px;
                  }
                }
              }
            }

            > tfoot {

              > tr {

                > td {
                  padding: 20px 0 0 0;

                  > div.textarea {

                    textarea {
                      height: 145px;
                      min-height: 145px;
                      max-height: 145px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



