div.events-image-layer-wrap {
  min-width: 460px;

  > div.container {

    > div {

      &.middle {
        position: relative;

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}