div.password-layer-wrap {
  position: relative;
  width: 460px;
  min-height: 560px;

  > div.container {
    padding: 40px 50px;

    > form {

      > div.top {

        > h1 {
          padding: 0 0 40px 0;
          text-align: center;
          font-size: 24px;
          font-weight: normal;
        }
      }

      > div.middle {
        padding-top: 42px;
      }

      > div.bottom {
        padding-top: 108px;

        > button {
          width: 100%;
        }
      }
    }
  }
}